* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

/* Navbar CSS */
.navbar {
  font-family: "Playfair Display", serif;
  background-color: rgb(27, 146, 237);
}
.active {
  border-bottom: 2px solid black;
}
.navbar-brand {
  letter-spacing: 3px;
}
.nav-link:hover {
  background-color: rgb(99, 203, 232);
  border-radius: 0.5rem;
}
/* contact css */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  font-family: "Playfair Display", serif;
  gap: 1rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-info span {
  gap: 0.5rem;
}
/* Footer css */
.footer {
  color: white;
  background-color: black;
  padding: 0.5rem ;
  letter-spacing: 0.1rem;
}
.footer a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
.footer a:hover {
  color: rgb(188, 182, 182);
  text-decoration: underline;
}
.fa-solid {
  padding: 0.5rem;
}
/* Contact  */
.contact-heading {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.contact-image {
  width: 50vw;
}
/* Privacy */
.Privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* accordian */
.accordion {
  width: 50vw;
  margin-bottom: 1rem;
}
/* about info  */
.about-info {
  width: 50vw;
}
/* Page Not Found CSS */
.Not-Found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Register Page  */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #edf5e1;
}
.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
}
.submit button {
  width: 30vw;
}
/* admin css */
.list-group-item {
  background-color: rgb(87, 126, 255);
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}
.product-link{
  text-decoration: none !important;
  color: black;
}
.home-product{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}

@media screen and (max-width: 480px) {
  .Not-Found > img {
    width: 15rem;
  }
  .contact-image {
    width: 100vw;
  }
  .accordion {
    width: 100vw;
  }
  .about-info {
    width: 90vw;
  }
  .submit button {
    width: 60vw;
  }
  .navbar-nav li {
    margin-top: 10px;
  }
  .list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
}
